<div class="container-fluid">
<div class="col-md-12 col-lg-12 col-xs-12">
 <nav md-tab-nav-bar>
  <a md-tab-link
     [routerLink]="['/login']"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive"
     *ngIf = "!loggedIn">
    <span mdTooltip="Login"><i class="material-icons" md-68>&#xE853;</i></span>
     <!--Login-->
  </a>
  <a md-tab-link
     [routerLink]="['/login']"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive"
     *ngIf = "loggedIn"
     (click) = "logout()">
     <span mdTooltip="Loguot"><i class="material-icons">&#xE15C;</i></span>
     <!--<i class="icon-caption">Logout</i>-->
  </a>
   <a md-tab-link
     [routerLink]="['bulkCreate']"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive"
     *ngIf = "loggedIn">
     Bulk Create
  </a>
   <a md-tab-link
     [routerLink]="['/login']"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive"
     *ngIf = "loggedIn">
     Attachment
  </a>
</nav>
</div>
</div>
<div class="container-fluid">
  <div class="col-md-12 col-lg-12 col-xs-12">
 <router-outlet></router-outlet>
  </div>
</div>